@using Request.Module.Domain
@using Request.Module.Infrastructure.Persistence.Data.Repository;
@inject INotificationRepository NotificationRepository;


<div class="row">
    <div class="col-12">
        <div class="card card-xl-stretch mb-5 mb-xl-8">

            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">Bildirimler</span>
                    @* <span class="text-muted mt-1 fw-bold fs-7">@EstablishmentDynamicForms.Count() Talep Formu</span> *@
                </h3>

                <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="">
                </div>
            </div>

            <div class="card-body py-5">

                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table id="notifications" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="fw-bolder text-muted">

                                <th>Kişi</th>
                                <th>Yıl</th>
                                <th>Bildirim Tarihi</th>
                                <th>İçerik</th>

                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>

                            @foreach (var notification in NotificationList)
                            {
                                <tr>
                                    <td>@notification.UserFullName</td>
                                    <td>@notification.Year</td>
                                    <td>@notification.CreateDate.ToString()</td>
                                    <td>@notification.Message</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>


    </div>
</div>



